<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net461" />
  <package id="Fody" version="6.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Machina" version="2.3.0.7" targetFramework="net461" />
  <package id="Machina.FFXIV" version="2.3.2.1" targetFramework="net461" />
</packages>